

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.html{
	background: url("img/coniferous-forest.jpg") no-repeat center center fixed;

}

.centerbox{

	margin-left: 20%;
	margin-top: 10%;
	width: 50%;
	overflow: scroll;
}














